<div class="login row">
  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="card-body">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <div class="form-group">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block' %>
          </div>
          <div class="auth-links right">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
